<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

<!--DispatcherServlet：前端控制器-->
    <context:component-scan base-package="com.lucky.controller"/>
<!--静态资源过滤器-->
    <mvc:default-servlet-handler/>
<!--注解驱动器-->
    <mvc:annotation-driven/>
<!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"
        id="internalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

<!--    配置拦截器-->
    <mvc:interceptors>
<!--        /** 包括路径及其子路径-->
<!--        /admin/* 拦截的是/admin/add等等这种 , /admin/add/user不会被拦截-->
<!--        /admin/** 拦截的是/admin/下的所有-->
<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/**"/>-->
<!--            &lt;!&ndash;bean配置的就是拦截器&ndash;&gt;-->
<!--            <bean class="com.lucky.config.MyInterceptor"/>-->
<!--        </mvc:interceptor>-->
        <mvc:interceptor>
            <mvc:mapping path="/user/**"/>
            <bean class="com.lucky.config.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>


</beans>